@import url("https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css");

.bulle h1 {
  display: inline-block;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1rem 0.5rem;
  border-radius: 8px;
  margin: 2rem 0;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.photos-container img {
  width: 100%;
  max-width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s;
  border: 2px solid red;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.photos-container img {
  margin-right: -30px;
}
.photos-container img:hover {
  transform: scale(1.2);
}

.map {
  height: 60vh;
}
img.avatar {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}
